<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Recipe Ingredient</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"><!--/* Instruct Thymeleaf to replace this href CDN value with the local webjars reference */-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script><!--/* Instruct Thymeleaf to replace this src CDN value with the local webjars reference */-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script><!--/* Instruct Thymeleaf to replace this src CDN value with the local webjars reference */-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-md-1">
            <form th:object="${ingredient}" th:action="@{'/recipes/' + ${ingredient.recipeId} + '/ingredients'} "
                  method="post">

                <!--/*
                    Display div in case of any validation error
                        bootstrap CSS class alert-danger will display a red box
                        th:if only shows this in case of errors
                 */-->
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>

                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{recipeId}">
                <div class="pannel-group">
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h1 class="card-title" th:text="${ingredient.id != null ? 'Edit Ingredient Information' : 'Add New Ingredient'}">Edit Ingredient Information</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 form-group">
                                    <label>Amount:</label>
                                    <!--/*
                                    If there are validation errors related to the 'amount' property
                                        - add Bootstrap CSS class has-error to make the input field red
                                        - add a span with Bootstrap CSS class invalid-feedback to display all validation errors related to the 'amount' property
                                     */-->
                                    <div class="col-lg-3" th:class="${#fields.hasErrors('amount')} ? 'col-lg-3 is-invalid' : 'col-lg-3'">
                                        <input type="number" class="form-control" th:field="*{amount}" th:errorClass="is-invalid" placeholder="Ingredient Amount">
                                        <span class="invalid-feedback" th:if="${#fields.hasErrors('amount')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('amount')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-3 form-group">
                                    <label>UOM:</label>
                                    <!--/*
                                   If there are validation errors related to the 'amount' property
                                       - add Bootstrap CSS class has-error to make the input field red
                                       - add a span with Bootstrap CSS class invalid-feedback to display all validation errors related to the 'amount' property
                                    */-->
                                    <div class="col-lg-3" th:class="${#fields.hasErrors('unitOfMeasure')} ? 'col-lg-3 is-invalid' : 'col-lg-3'">
                                        <select class="form-control" name="unitOfMeasure.id" th:errorClass="is-invalid">
                                            <option th:each="uom : ${uomList}" th:value="${uom.id}" th:selected="${ingredient.unitOfMeasure != null ? uom.id.equals(ingredient.unitOfMeasure.id) : false}"
                                                    th:text="${uom.name}">Each</option>
                                        </select>
                                        <span class="invalid-feedback" th:if="${#fields.hasErrors('unitOfMeasure')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('unitOfMeasure')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-3 form-group">
                                    <label>Name:</label>
                                    <!--/*
                                    If there are validation errors related to the 'name' property
                                        - add Bootstrap CSS class has-error to make the input field red
                                        - add a span with Bootstrap CSS class invalid-feedback to display all validation errors related to the 'name' property
                                     */-->
                                    <div class="col-lg-3" th:class="${#fields.hasErrors('name')} ? 'col-lg-3 is-invalid' : 'col-lg-3'">
                                        <input type="text" class="form-control" th:field="*{name}" th:errorClass="is-invalid" placeholder="Ingredient Name">
                                        <span class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>